html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-size: large;
    font-weight: 400;
}

body {
    height: 100%;
    width: 100%;
    background-color: #301d55;
    overflow-y: scroll;
}

#navbar {
    height: 6%;
    width: 100%;
    padding: .5rem;
    background-color: #e6a733;
}

ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

.home-title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke: 3px #fff;
    transform: translateY(-4rem);
    opacity: 0;
    animation: drop 1s forwards;

    margin-bottom: 2rem;
}

.home-title-animation span {
    font-size: 10rem;
    color: transparent;
    transform: translateY(-4rem);
    opacity: 0;
    animation: drop 1s forwards;
}

@media screen and (max-width: 1024px) {
    .home-title-animation, .home-title-animation span {
        font-size: 18vw;
    }
}

@keyframes drop {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    transform: translateX(-10rem);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.home-title-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .home-title-buttons {
        flex-direction: column;
    }
}

.home-title-btn {
    height: auto;
    width: fit-content;
    border: 1px solid #301d55;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    background-color: #e6a733;
    font-size: x-large;
    color: #301d55;
    cursor: pointer;
}

.home-title-btn:hover,
.home-title-btn:focus {
    box-shadow: inset 15rem 0 0 0 #301d55;
    color: #e6a733;
    border: 1px solid #e6a733;
    transition: box-shadow 0.3s linear, color 0.3s linear, border 0.3s linear;
}
